In [14]:
# ! pip install pandas numpy dask tomli pyarrow fastparquet

In [15]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

import os
import tomli

# Load Config

In [29]:
CONFIG_FILE_PATH = "../config.tomli"

with open(CONFIG_FILE_PATH, 'rb') as config_file:
    config = tomli.load(config_file)

ETF_DATA_DRIVE_PATH = f"../{config['data']['etfs']}"
STOCK_DATA_DRIVE_PATH = f"../{config['data']['stocks']}"
PROCESSED_DATA_DRIVE_PATH = f"../{config['data']['processed']}"
SYMBOLS_FILE_PATH = f"../{config['data']['symbols']}"

data_dtypes = config['etf_stock_data_type']
symbols_dtype = config['symbols_data_types']

date_format = config['format']['date_format']

# ETFs

In [17]:
# get the list of etf files
# additionally sort the list to always return the same order.
etf_files = sorted(os.listdir(ETF_DATA_DRIVE_PATH))

# load a random etf file
num_etf = len(etf_files)
random_etf_file_index = np.random.randint(0, num_etf-1)
etf_file = etf_files[random_etf_file_index]
etf_file_path = f"{ETF_DATA_DRIVE_PATH}/{etf_file}"
random_etf_df = pd.read_csv(etf_file_path, dtype=data_dtypes, parse_dates=['Date'])
random_etf_df['Date'] = random_etf_df['Date'].dt.strftime(date_format)

# print a sample
print(f"ETF file name: {etf_file} ({random_etf_file_index+1}/{num_etf})")
random_etf_df.head(3)

ETF file name: CHNA.csv (207/2165)

         Date       Open       High        Low      Close  Adj Close  Volume
0  2018-08-15  23.790001  23.950001  23.754999  23.799999  23.760891    5500
1  2018-08-16  23.870001  24.129000  23.600000  23.902000  23.862724   28900
2  2018-08-17  23.209999  23.549999  22.980000  23.468000  23.429438    5300

In [18]:
random_etf_df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

# Stocks

In [19]:
# get the list of stock files
# additionally sort the list to always return the same order.
stock_files = sorted(os.listdir(STOCK_DATA_DRIVE_PATH))

# load a random stock file
num_stocks = len(stock_files)
random_stock_file_index = np.random.randint(0, num_stocks-1)
stock_file = stock_files[random_stock_file_index]
stock_file_path = f"{STOCK_DATA_DRIVE_PATH}/{stock_file}"
random_stock_df = pd.read_csv(stock_file_path, parse_dates=['Date'])
random_stock_df['Date'] = random_stock_df['Date'].dt.strftime(date_format)

# print a sample
print(f"Stock file name: {stock_file} ({random_stock_file_index+1}/{num_stocks})")
random_stock_df.head(3)

Stock file name: GOL.csv (2317/5884)

         Date       Open       High        Low      Close  Adj Close   Volume
0  2004-06-24  18.799999  18.950001  18.110001  18.219999  16.473383  5742000
1  2004-06-25  18.219999  18.389999  17.700001  18.000000  16.274473   995500
2  2004-06-28  18.090000  18.090000  17.010000  17.299999  15.641574  1175000

In [20]:
random_stock_df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

# Symbols

In [21]:
symbols = pd.read_csv(SYMBOLS_FILE_PATH, dtype=symbols_dtype)
symbols.head(3)

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N

In [22]:
symbols.dtypes

Nasdaq Traded        object
Symbol               object
Security Name        object
Listing Exchange     object
Market Category      object
ETF                  object
Round Lot Size      float64
Test Issue           object
Financial Status     object
CQS Symbol           object
NASDAQ Symbol        object
NextShares           object
dtype: object

In [31]:
random_etf_df.to_parquet(f"{PROCESSED_DATA_DRIVE_PATH}/test.parquet")

In [24]:
! pip freeze > ../requirements.txt