In [1]:
# ! pip install pandas numpy dask

In [2]:
import numpy as np
import pandas as pd
import dask.dataframe as dd

import os

In [3]:
ETF_DATA_DRIVE_PATH = "../data/etfs"
STOCK_DATA_DRIVE_PATH = "../data/stocks"

# ETFs

In [4]:
# get the list of etf files
# additionally sort the list to always return the same order.
etf_files = sorted(os.listdir(ETF_DATA_DRIVE_PATH))

# load a random etf file
num_etf = len(etf_files)
random_etf_file_index = np.random.randint(0, num_etf-1)
etf_file = etf_files[random_etf_file_index]
etf_file_path = f"{ETF_DATA_DRIVE_PATH}/{etf_file}"
random_etf_df = pd.read_csv(etf_file_path)

# print a sample
print(f"ETF file name: {etf_file} ({random_etf_file_index+1}/{num_etf})")
random_etf_df

ETF file name: AFSM.csv (21/2165)

          Date       Open       High        Low      Close  Adj Close  Volume
0   2019-12-04  20.100000  20.129999  20.054001  20.054001  19.990448    4700
1   2019-12-05  20.129000  20.129000  20.117001  20.117001  20.053249   50100
2   2019-12-06  20.438000  20.438000  20.405001  20.405001  20.340336     100
3   2019-12-09  20.367001  20.370001  20.367001  20.370001  20.305447    1000
4   2019-12-10  20.381001  20.381001  20.344999  20.344999  20.280525     100
..         ...        ...        ...        ...        ...        ...     ...
77  2020-03-26  14.020000  14.020000  14.020000  14.020000  14.020000       0
78  2020-03-27  13.600000  13.600000  13.415000  13.415000  13.415000    2000
79  2020-03-30  13.415000  13.415000  13.415000  13.415000  13.415000       0
80  2020-03-31  13.737000  13.737000  13.737000  13.737000  13.737000       0
81  2020-04-01  13.689000  13.689000  13.689000  13.689000  13.689000       0

[82 rows x 7 columns]

# Stocks

In [5]:
# get the list of stock files
# additionally sort the list to always return the same order.
stock_files = sorted(os.listdir(STOCK_DATA_DRIVE_PATH))

# load a random stock file
num_stocks = len(stock_files)
random_stock_file_index = np.random.randint(0, num_stocks-1)
stock_file = stock_files[random_stock_file_index]
stock_file_path = f"{STOCK_DATA_DRIVE_PATH}/{stock_file}"
random_stock_df = pd.read_csv(stock_file_path)

# print a sample
print(f"Stock file name: {stock_file} ({random_stock_file_index+1}/{num_stocks})")
random_stock_df

Stock file name: STK.csv (4991/5884)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-11-27,20.010000,20.010000,20.000000,20.010000,6.707479,43400
1,2009-11-30,20.000000,20.010000,20.000000,20.000000,6.704127,27400
2,2009-12-01,20.040001,20.100000,20.000000,20.100000,6.737649,27600
3,2009-12-02,20.139999,20.490000,20.000000,20.010000,6.707479,49200
4,2009-12-03,20.299999,20.480000,20.070000,20.290001,6.801338,31200
...,...,...,...,...,...,...,...
2598,2020-03-26,17.879999,19.340000,17.879999,18.790001,18.790001,132400
2599,2020-03-27,17.770000,18.709999,17.750000,18.270000,18.270000,85500
2600,2020-03-30,18.209999,18.629999,18.070000,18.450001,18.450001,98300
2601,2020-03-31,18.650000,18.660000,17.600000,17.690001,17.690001,151400
2602,2020-04-01,17.260000,17.450001,16.440001,16.610001,16.610001,113600

In [6]:
# ! pip freeze > ../requirements.txt